body{
font-family: Arial;
margin:0;
background-color:#f4f4f4;
}

nav{
background-color:darkblue;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:20px;
text-decoration:none;
font-size:18px;
}

header{
text-align:center;
padding:40px;
background-color:#ddd;
}

section{
padding:40px;
text-align:center;
}

ul{
list-style:none;
padding:0;
}

li{
padding:10px;
font-size:18px;
}

footer{
background-color:darkblue;
color:white;
text-align:center;
padding:20px;
}
.whatsapp{
display:inline-block;
background-color:#25D366;
color:white;
padding:15px 25px;
text-decoration:none;
font-size:18px;
border-radius:5px;
margin-top:20px;
}

.whatsapp:hover{
background-color:#1ebe5d;
}
iframe{
margin-top:20px;
border-radius:10px;
}

.galerie{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.galerie img{
width:300px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);

}

.services{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.service{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.service h3{
color:darkblue;
}
